/* Fonts */
@import url("fonts.css");
/* Background importieren */
@import url("bg-grid1.css");

body {
  height: 100%;
  margin: 0;
  padding: 0;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  font-family: "Varela Round";
}

.content {
  position: absolute;
  z-index: 1;
  font-family: "Varela Round";
}
