/* Fonts */
@import url("fonts.css");
/* Background importieren */
@import url("bg-grid1.css");

body {
  min-height: 100vh;
  height: 100%;
  background-color: #191a1a;
}

.content {
  position: absolute;
  z-index: 1;
  font-family: "Varela Round";
}
